.elementor-960 .elementor-element.elementor-element-568d475 .elementor-heading-title{color:#000000;font-family:"Myriad Pro Regular", Sans-serif;font-size:45px;font-weight:400;}.elementor-960 .elementor-element.elementor-element-978180d{color:#000000;font-family:"Myriad Pro Light", Sans-serif;font-weight:400;}.elementor-960 .elementor-element.elementor-element-978180d > .elementor-widget-container{margin:-23px 0px 0px 0px;}.elementor-960 .elementor-element.elementor-element-8d1df1c > .elementor-container{max-width:875px;}.elementor-960 .elementor-element.elementor-element-8d1df1c > .elementor-background-overlay{opacity:0.45;}.elementor-960 .elementor-element.elementor-element-8d1df1c:hover > .elementor-background-overlay{opacity:0.5;}.elementor-960 .elementor-element.elementor-element-c697c2d > .elementor-element-populated{border-style:none;text-align:center;}.elementor-960 .elementor-element.elementor-element-5f0bce0 .widget-image-caption{color:#FFFFFF;background-color:#00B4E0;margin-top:0px;}.elementor-960 .elementor-element.elementor-element-30e8cba img{height:225px;}.elementor-960 .elementor-element.elementor-element-30e8cba .widget-image-caption{color:#FFFFFF;background-color:#00B4E0;margin-top:0px;}.elementor-960 .elementor-element.elementor-element-85173fa > .elementor-container{max-width:875px;}.elementor-960 .elementor-element.elementor-element-85173fa > .elementor-background-overlay{opacity:0.45;}.elementor-960 .elementor-element.elementor-element-85173fa:hover > .elementor-background-overlay{opacity:0.5;}.elementor-960 .elementor-element.elementor-element-2bd7fd9 > .elementor-element-populated{text-align:center;}.elementor-960 .elementor-element.elementor-element-1a133ea .widget-image-caption{color:#FFFFFF;background-color:#00B4E0;margin-top:0px;}.elementor-960 .elementor-element.elementor-element-79de455 img{height:248px;}.elementor-960 .elementor-element.elementor-element-79de455 .widget-image-caption{color:#FFFFFF;background-color:#00B4E0;margin-top:0px;}.elementor-960 .elementor-element.elementor-element-be8f85c > .elementor-container{max-width:875px;}.elementor-960 .elementor-element.elementor-element-be8f85c > .elementor-background-overlay{opacity:0.45;}.elementor-960 .elementor-element.elementor-element-be8f85c:hover > .elementor-background-overlay{opacity:0.5;}.elementor-960 .elementor-element.elementor-element-206980d > .elementor-element-populated{text-align:center;}.elementor-960 .elementor-element.elementor-element-700dbba .widget-image-caption{color:#FFFFFF;background-color:#00B4E0;margin-top:0px;}.elementor-960 .elementor-element.elementor-element-809efff img{height:255px;}.elementor-960 .elementor-element.elementor-element-809efff .widget-image-caption{color:#FFFFFF;background-color:#00B4E0;margin-top:0px;}.elementor-960 .elementor-element.elementor-element-586be48 > .elementor-container{max-width:875px;}.elementor-960 .elementor-element.elementor-element-586be48 > .elementor-background-overlay{opacity:0.45;}.elementor-960 .elementor-element.elementor-element-586be48:hover > .elementor-background-overlay{opacity:0.5;}.elementor-960 .elementor-element.elementor-element-9261b36 > .elementor-element-populated{text-align:center;}.elementor-960 .elementor-element.elementor-element-5ee60ad .widget-image-caption{color:#FFFFFF;background-color:#00B4E0;margin-top:0px;}.elementor-960 .elementor-element.elementor-element-5d38dc2 img{height:269px;}.elementor-960 .elementor-element.elementor-element-5d38dc2 .widget-image-caption{color:#FFFFFF;background-color:#00B4E0;margin-top:0px;}/* Start custom CSS for image, class: .elementor-element-5f0bce0 */.caption {
    background-color: #00b4e0;
    height: 50px;
    text-align: center;
    font-size: 1.7em;
    font-family: "Montserrat",sans-serif;
    color: white;
    vertical-align: center;
    padding-top: 6px;
    transition: 0.3s;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-30e8cba */.caption {
    background-color: #00b4e0;
    height: 50px;
    text-align: center;
    font-size: 1.7em;
    font-family: "Montserrat",sans-serif;
    color: white;
    vertical-align: center;
    padding-top: 6px;
    transition: 0.3s;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-8d1df1c */.widget-image-caption{
    
    line-height: 3;
}

.wp-caption img[class*=wp-image-] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.4;
    transition: 0.3s;
    cursor: pointer;
}
/* click on img*/
.wp-caption img[class*=wp-image-]:hover{
    opacity: 1;
}

/*.wp-caption:hover{*/
/*    background-color: #db477c !important;*/
/*}*/

.wp-caption img[class*=wp-image-]:hover + figcaption.widget-image-caption.wp-caption-text{
    background-color: #db477c !important;
}

figcaption.widget-image-caption.wp-caption-text:hover {
    background-color: #db477c !important;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-1a133ea */.caption {
    background-color: #00b4e0;
    height: 50px;
    text-align: center;
    font-size: 1.7em;
    font-family: "Montserrat",sans-serif;
    color: white;
    vertical-align: center;
    padding-top: 6px;
    transition: 0.3s;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-79de455 */.caption {
    background-color: #00b4e0;
    height: 50px;
    text-align: center;
    font-size: 1.7em;
    font-family: "Montserrat",sans-serif;
    color: white;
    vertical-align: center;
    padding-top: 6px;
    transition: 0.3s;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-85173fa */.widget-image-caption{
    
    line-height: 2.5;
}

.wp-caption img[class*=wp-image-] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.4;
    transition: 0.3s;
    cursor: pointer;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-700dbba */.caption {
    background-color: #00b4e0;
    height: 50px;
    text-align: center;
    font-size: 1.7em;
    font-family: "Montserrat",sans-serif;
    color: white;
    vertical-align: center;
    padding-top: 6px;
    transition: 0.3s;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-809efff */.caption {
    background-color: #00b4e0;
    height: 50px;
    text-align: center;
    font-size: 1.7em;
    font-family: "Montserrat",sans-serif;
    color: white;
    vertical-align: center;
    padding-top: 6px;
    transition: 0.3s;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-be8f85c */.widget-image-caption{
    
    line-height: 2.5;
}

.wp-caption img[class*=wp-image-] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.4;
    transition: 0.3s;
    cursor: pointer;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-5ee60ad */.caption {
    background-color: #00b4e0;
    height: 50px;
    text-align: center;
    font-size: 1.7em;
    font-family: "Montserrat",sans-serif;
    color: white;
    vertical-align: center;
    padding-top: 6px;
    transition: 0.3s;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-5d38dc2 */.caption {
    background-color: #00b4e0;
    height: 50px;
    text-align: center;
    font-size: 1.7em;
    font-family: "Montserrat",sans-serif;
    color: white;
    vertical-align: center;
    padding-top: 6px;
    transition: 0.3s;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-586be48 */.widget-image-caption{
    
    line-height: 2.5;
}

.wp-caption img[class*=wp-image-] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.4;
    transition: 0.3s;
    cursor: pointer;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Myriad Pro Regular';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost/orchardrock1/wp-content/uploads/2023/03/MYRIADPRO-REGULAR.woff') format('woff');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Myriad Pro Light';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost/orchardrock1/wp-content/uploads/2023/03/MyriadPro-Light.woff') format('woff');
}
/* End Custom Fonts CSS */