.elementor-958 .elementor-element.elementor-element-85728d2{margin-top:0px;margin-bottom:100px;}/* Start custom CSS for html, class: .elementor-element-7b134e1 */.frame{
    height: 1200px;
    width: 300px;
   border: 0; box-shadow: 5px 5px 56px 0px rgba(0,0,0,0.5); 
}/* End custom CSS */