.elementor-960 .elementor-element.elementor-element-75058f6{margin-top:-30px;margin-bottom:0px;}.elementor-960 .elementor-element.elementor-element-568d475 .elementor-heading-title{color:#000000;font-family:"Myriad Pro Regular", Sans-serif;font-size:45px;font-weight:400;}.elementor-960 .elementor-element.elementor-element-978180d{color:#000000;font-family:"Myriad Pro Light", Sans-serif;font-weight:400;}.elementor-960 .elementor-element.elementor-element-978180d > .elementor-widget-container{margin:-23px 0px 0px 0px;}.elementor-960 .elementor-element.elementor-element-3aef258 img{opacity:1;border-style:solid;border-width:1px 1px 0px 1px;border-color:#D1D1D1;}.elementor-960 .elementor-element.elementor-element-3aef258 .widget-image-caption{color:#FFFFFF;background-color:#068095;font-family:"Myriad Pro", Sans-serif;font-size:20px;font-weight:400;line-height:40px;margin-top:0px;}.elementor-960 .elementor-element.elementor-element-8cfc444 img{opacity:1;border-style:solid;border-width:1px 1px 0px 1px;border-color:#D1D1D1;}.elementor-960 .elementor-element.elementor-element-8cfc444 .widget-image-caption{color:#FFFFFF;background-color:#068095;font-family:"Myriad Pro", Sans-serif;font-size:20px;font-weight:400;line-height:40px;}.elementor-960 .elementor-element.elementor-element-9c8fbeb img{opacity:1;border-style:solid;border-width:1px 1px 0px 1px;border-color:#D1D1D1;border-radius:0px 0px 0px 0px;}.elementor-960 .elementor-element.elementor-element-9c8fbeb .widget-image-caption{color:#FFFFFF;background-color:#068095;font-family:"Myriad Pro", Sans-serif;font-size:20px;font-weight:400;line-height:40px;}.elementor-960 .elementor-element.elementor-element-e9ad1da img{opacity:1;border-style:solid;border-width:1px 1px 0px 1px;border-color:#D1D1D1;}.elementor-960 .elementor-element.elementor-element-e9ad1da .widget-image-caption{color:#FFFFFF;background-color:#068095;font-family:"Myriad Pro", Sans-serif;font-size:20px;font-weight:400;line-height:40px;}.elementor-960 .elementor-element.elementor-element-d915e45 img{opacity:1;border-style:solid;border-width:1px 1px 0px 1px;border-color:#D1D1D1;}.elementor-960 .elementor-element.elementor-element-d915e45 .widget-image-caption{color:#FFFFFF;background-color:#068095;font-family:"Myriad Pro", Sans-serif;font-size:20px;font-weight:400;line-height:40px;}.elementor-960 .elementor-element.elementor-element-1bf5668 img{opacity:1;border-style:solid;border-width:1px 1px 0px 1px;border-color:#D1D1D1;}.elementor-960 .elementor-element.elementor-element-1bf5668 .widget-image-caption{color:#FFFFFF;background-color:#068095;font-family:"Myriad Pro", Sans-serif;font-size:20px;font-weight:400;line-height:40px;}.elementor-960 .elementor-element.elementor-element-08dbbbe img{opacity:1;border-style:solid;border-width:1px 1px 0px 1px;border-color:#D1D1D1;}.elementor-960 .elementor-element.elementor-element-08dbbbe .widget-image-caption{color:#FFFFFF;background-color:#068095;font-family:"Myriad Pro", Sans-serif;font-size:20px;font-weight:400;line-height:40px;}.elementor-960 .elementor-element.elementor-element-67b8f2f img{opacity:1;border-style:solid;border-width:1px 1px 0px 1px;border-color:#D1D1D1;}.elementor-960 .elementor-element.elementor-element-67b8f2f .widget-image-caption{color:#FFFFFF;background-color:#068095;font-family:"Myriad Pro", Sans-serif;font-size:20px;font-weight:400;line-height:40px;}@media(max-width:1023px){.elementor-960 .elementor-element.elementor-element-3aef258 img{height:131px;}.elementor-960 .elementor-element.elementor-element-8cfc444 img{height:131px;}.elementor-960 .elementor-element.elementor-element-d915e45 img{height:23vh;}.elementor-960 .elementor-element.elementor-element-1bf5668 img{height:135px;}.elementor-960 .elementor-element.elementor-element-08dbbbe img{height:147px;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Myriad Pro Regular';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost/orchardrock1/wp-content/uploads/2023/03/MYRIADPRO-REGULAR.woff') format('woff');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Myriad Pro Light';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost/orchardrock1/wp-content/uploads/2023/03/MyriadPro-Light.woff') format('woff');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Myriad Pro';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost/orchardrock1/wp-content/uploads/2023/03/MYRIADPRO-SEMIBOLDIT.woff') format('woff');
}
@font-face {
	font-family: 'Myriad Pro';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost/orchardrock1/wp-content/uploads/2023/03/MYRIADPRO-SEMIBOLD.woff') format('woff');
}
@font-face {
	font-family: 'Myriad Pro';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost/orchardrock1/wp-content/uploads/2023/03/MYRIADPRO-REGULAR.woff') format('woff');
}
@font-face {
	font-family: 'Myriad Pro';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost/orchardrock1/wp-content/uploads/2023/03/MyriadPro-Light.woff') format('woff');
}
@font-face {
	font-family: 'Myriad Pro';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost/orchardrock1/wp-content/uploads/2023/03/MYRIADPRO-CONDIT.woff') format('woff');
}
@font-face {
	font-family: 'Myriad Pro';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost/orchardrock1/wp-content/uploads/2023/03/MYRIADPRO-COND.woff') format('woff');
}
@font-face {
	font-family: 'Myriad Pro';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost/orchardrock1/wp-content/uploads/2023/03/MYRIADPRO-BOLDIT.woff') format('woff');
}
@font-face {
	font-family: 'Myriad Pro';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost/orchardrock1/wp-content/uploads/2023/03/MYRIADPRO-BOLDCONDIT.woff') format('woff');
}
@font-face {
	font-family: 'Myriad Pro';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost/orchardrock1/wp-content/uploads/2023/03/MYRIADPRO-BOLDCOND.woff') format('woff');
}
@font-face {
	font-family: 'Myriad Pro';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost/orchardrock1/wp-content/uploads/2023/03/MYRIADPRO-BOLD.woff') format('woff');
}
/* End Custom Fonts CSS */