/* Public-course */
.table-container-public-courses td.No_Record {
	text-align:center;
}
.course_heading{
	font-family: 'Myriad Pro';
	font-size: 20px;
}
.table-container-public-coursestable, .table-container-public-courses td{
	font-family: "Myriad Pro Light", Sans-serif;
}
.clear_filter {
	margin-left:10px;
}
.table-container-public-courses th.fw-bold.align-middle {
	font-family: "Myriad Pro";
	vertical-align: middle;
	background-color: #273842;
	color:#fff;
}
/* related.php */
.table-container-public-courses.table-bordered td{
	border: none !important;
	border-right: solid 1px #ccc !important;
	}
.search_course{
	margin-top: 20px;
	margin-bottom: 40px;
	font-family: "Myriad Pro Light", Sans-serif;
	position:relative;
}
.form-control {
	width: 100% ;
}
input.form-control.col-md-10 {
	border-radius: 2px 2px 0 0;
}
.col-md-3.top_search_bar.input_box {
	display: flex;
}
.top_search_bar{
	margin-top: 20px;
	margin-bottom: 20px;
}
#spinner {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

a.button.wp-element-button.product_type_simple.add_to_cart_button.ajax_add_to_cart{
	margin: 10px auto 10px auto;
	width: 90px;
	background-color: #00B4E1;
	border-radius: 5px ;
	border : 1px solid #d1d1d1;
}
	a.added_to_cart.wc-forward {
	display: none;
}

.search_filter_value{
	padding: 8px;
	color:#fff;
	margin: 10px auto 10px auto;
	background-color: #00B4E1;
	border-color: #d1d1d1;
	border-radius: 5px ;
	border : 1px solid #d1d1d1;
}
.clear_search_filter{
	padding: 8px;
	color:#fff;
	margin: 10px auto 10px 10px;
	background-color: #000;
	border-color: #d1d1d1;
	border-radius: 5px ;
	border : 1px solid #d1d1d1;
}
.clear_search_filter:hover{
	color:#fff !important;
}

	span.page-numbers.current{
	background-color: #4CAF50;
	color:#fff;
}
ul.pagination {
	display: inline-block;
	padding: 0;
	margin: 10;
}
ul.pagination li {display: inline;}

ul.pagination li a {
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;	
}
ul.pagination li a.active {
	color: white;
	border: 1px solid #fff;
}
ul.pagination li a:hover:not(.active) {
	background-color: #4CAF50;
	color:#fff;
}

div.center {text-align: center;}

a.prev.page-numbers {
	margin-right: 10px!important;
}
a.next.page-numbers {
	color:black;
		margin-left: 10px!important;
}

a.prev.page-numbers:hover {
	color: white;
	background-color: #21C04E!important;
	margin-right: 10px!important;

}
a.next.page-numbers:hover {
	color: white;
	background-color: #21C04E!important;
	margin-left: 10px!important;
}
a.page-numbers {
	margin-left: 5px!important;
	margin-right: 5px !important;
}


.table-container-related-venue-courses.table-bordered > tbody > tr > td {
  border-bottom: 1px solid #d1d1;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.table-container-related-venue-courses.table-bordered > tbody > tr > td {
  vertical-align: middle;
  }
.related-products {
width:100%;
float:left;
}
.venue_course_heading{
background: #00B4E0;
  line-height: 50px;
  margin-bottom: 0;
  color: #fff;
  border: 1px solid #d1d1d1;
  padding: 0 8px;
}  
.custom_add_to_cart{
line-height: 1.42857143;
}
a.button.wp-element-button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
  margin-top: 10px;
  margin-bottom: 5px;
}

.custom_date {
  color: #2ecc71;
  font-size: 12px;
margin-bottom: 0px;
}
.related-products {
float:left;
width:100%;
text-align:center;
}
.related-products h1 {
color:#00B4E0;
margin-bottom:40px;
}
.related-product a.button.wp-element-button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
margin-top:5px!important;
}
.related-product .related-product-content {
  margin-top: 10px;
  padding: 0 10px;
}
.related-product-inner {
border: 1px solid #d1d1d1;
  float: left;
  width: 100%;
margin-bottom: 20px;
}
.all_realated_products {
float: left;
  width: 100%;
  text-align: center;
  margin: 30px 0 0;
}
.all_realated_products a {
  color: #fff!important;
  background: #00B4E0;
  padding: 8px 15px;
text-decoration:none;
}
.related-product-title{
color:#0FBB56;
}


.price_addition_attr {
  color:#00B4E0;
  font-weight:600;
}